@import '_variables.scss';

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $mainFont;
}

.wrapper{
    min-height: 100vh;
    display: flex;
    .center{
        width: 100%;
    }
}

.leftNav {
    width: 100px;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    i {
        color: $mainColor;
        font-size: 40px;
        width: 40px;
        margin-top: 20px;
    }
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1140px;
}

.mainHeader {
    background-color: rgb(233, 233, 233);
    height: 70px;
    margin-bottom: 50px;
    @media (max-width: 720px){
        height: 140px;
    }
    .container{
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            color: $mainColor;
            font-size: 18px;
        }
        .cartHeader {
            @media (max-width: 720px){
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-end;
                margin-left: 30px;
            }
            .search-form{
                position: relative;
                margin-right: 50px;
                display: inline-block;
                @media (max-width: 720px){
                    margin-right: initial;
                    margin-top: 30px;
                }
                .search-field:focus{
                    outline: none;
                }
                .search-field {
                    box-sizing: border-box;
                    width: 200px;
                    padding: 10px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid $mainColor;
                    @media (max-width: 720px){
                        width: auto;
                    }
                }
                .btn-search {
                    background-color: transparent;
                    border: none;
                    color: $mainColor;
                    font-size: 1.2em;
                    position: absolute;
                    bottom: 5px;
                    right: 0;
                    outline: none;
                    cursor: pointer;
                }
            }
            .btn-cart {
                @include mainButton(16px, 400, 10px);
                @media (max-width: 720px){
                    width: 100px;
                }
            }
        }
    }
}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    column-gap: 20px;
    justify-items: center;
    margin-bottom: 30px;
    @media (max-width: 930px){
        grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 720px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 520px){
        grid-template-columns: repeat(1, 1fr);
    }
    .product-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: center;
        width: 180px;
        height: 310px;
        img {
            width: 90%;
            height: 72%;
            align-self: center;
        }
        &:hover {
            box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
        }
        .title-price {
            display: flex;
            justify-content: space-between;
            h4 {
                margin: 10px;
                color: $mainColor;
                text-transform: uppercase;
            }
            p {
                margin: 10px;
            }
        }
        .buy-btn {
            @include mainButton(12px, 300, 5px);
            margin: 0 10px 10px 10px;
        }
    }
}

.cartHeader{
    position: relative;
    .cart-block {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
        border-radius: 5px;
        box-sizing: border-box;
        right: 0;
        top: 130%;
        position: absolute;
        background-color: white;
        padding: 20px;
        color: black;
        width: 310px;
        &:before{
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: -10px;
            right: 35px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
        }
    }
}

.cart-item {
    display: flex;
    justify-content: space-between;
    &:not(:last-child){
        margin-bottom: 20px;
        border-bottom: 1px solid rgb(233, 233, 233);
    }
    .cart-left{
        display: flex;
        img {
            align-self: flex-start;
            margin-right: 15px;
            width: 40%;
        }
        .product-desc{
            max-width: 150px;
            font-size: 12px;
            .product-title {
                color: $mainColor;
                text-transform: uppercase;
                font-size: 14px;
            }
            .product-quantity {
                margin-top: 15px;
            }
        }
    }
    .cart-right{
        text-align: right;
        .product-price{
            margin-left: 30px;
        }
        .btn-del {
            @include mainButton(12px, 300, 5px);
            margin: 10px;
        }
    }
}

.invisible{
    display: none !important;
}